html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 2rem;
}

table {
  border: 1px solid gray;
}
table tr {
  border: 1px solid gray;
}
